.proposal-details {
  @apply text-accent-1;
}

.proposal-details p {
  font-size: 1rem;
}

.proposal-details a {
  @apply text-highlight-1 hover:text-accent-1 underline;
  font-size: 1rem;
}

.proposal-details h1 {
  font-size: 2rem;
}

.proposal-details h2 {
  font-size: 1.5rem;
}

.proposal-details h3 {
  font-size: 1.25rem;
}

.proposal-details h4 {
  font-size: 1.15rem;
}

.proposal-details h5 {
  font-size: 1.1rem;
}

.proposal-details h6 {
  font-size: 1.05rem;
}
