.proposal-details {
  @apply text-accent-1 break-all overflow-hidden relative max-w-full;
}

.proposal-details h1,
.proposal-details h2,
.proposal-details h3,
.proposal-details h4,
.proposal-details h5,
.proposal-details h6 {
  @apply mt-4 mb-1;
}

.proposal-details p {
  @apply break-words mb-3;
  font-size: 1rem;
}

.proposal-details a {
  @apply text-highlight-1 hover:text-accent-1 underline;
  font-size: 1rem;
}

.proposal-details h1 {
  @apply break-words;
  font-size: 2rem;
}

.proposal-details h2 {
  @apply break-words;
  font-size: 1.5rem;
}

.proposal-details h3 {
  @apply break-words;
  font-size: 1.25rem;
}

.proposal-details h4 {
  @apply break-words;
  font-size: 1.15rem;
}

.proposal-details h5 {
  @apply break-words;
  font-size: 1.1rem;
}

.proposal-details h6 {
  @apply break-words;
  font-size: 1.05rem;
}
